# -----------------------
# Node / Backend
# -----------------------
node_modules/
.env
uploads/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server/dist/

# -----------------------
# React / Frontend
# -----------------------
client/node_modules/
client/build/

# -----------------------
# OS / System files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------
logs/
*.log
